In [1]:
#import necessary packages
from sqlalchemy import create_engine
import pandas as pd
from sqlalchemy import select
import pymysql
import sqlalchemy as db
import seaborn as sns

In [2]:
import os
os.getcwd()

"C:\\Users\\anush\\OneDrive\\Queen's Uni\\Marketing Analytics - MMA 831\\Project"

In [3]:
df_shang = pd.read_csv("./customer features//831_shangeri_features_customer_level.csv")

In [4]:
df_shang.head()

,customer_unique_id,count_boleto,count_credit_card,count_voucher,count_debit_card,count_not_defined,percentage_weekday,percentage_day
0,0000366f3b9a7992bf8c76cfdf3221e2,0.0,1.0,0.0,0.0,0.0,100.0,100.0
1,0000b849f77a49e4a4ce2b2a4ca5be3f,0.0,1.0,0.0,0.0,0.0,100.0,100.0
2,0000f46a3911fa3c0805444483337064,0.0,1.0,0.0,0.0,0.0,100.0,0.0
3,0000f6ccb0745a6a4b88665a16c9f078,0.0,1.0,0.0,0.0,0.0,100.0,0.0
4,0004aac84e0df4da2b147fca70cf8255,0.0,1.0,0.0,0.0,0.0,100.0,0.0

In [7]:
df_melody = pd.read_csv("./customer features//final_melody_features.csv")

In [8]:
df_melody.head()

,customer_unique_id,total_orders,avg_payment_installments,average_rating,total_delivered_orders,value_per_installment,avg_installment_per_order,avg_order_value_over_rating,avg_order_time,avg_voucher_per_order
0,0000366f3b9a7992bf8c76cfdf3221e2,1,8.0,5.0,1,17.7375,8.0,28.3800,0.0,0.0
1,0000b849f77a49e4a4ce2b2a4ca5be3f,1,1.0,4.0,1,27.1900,1.0,6.7975,0.0,0.0
2,0000f46a3911fa3c0805444483337064,1,8.0,3.0,1,10.7775,8.0,28.7400,0.0,0.0
3,0000f6ccb0745a6a4b88665a16c9f078,1,4.0,4.0,1,10.9050,4.0,10.9050,0.0,0.0
4,0004aac84e0df4da2b147fca70cf8255,1,6.0,5.0,1,32.8150,6.0,39.3780,0.0,0.0

In [9]:
#merge with both on product_id
df_merged = pd.merge(df_shang, df_melody, left_on='customer_unique_id', right_on = 'customer_unique_id', how='outer')
df_merged.head(100)

,customer_unique_id,count_boleto,count_credit_card,count_voucher,count_debit_card,count_not_defined,percentage_weekday,percentage_day,total_orders,avg_payment_installments,average_rating,total_delivered_orders,value_per_installment,avg_installment_per_order,avg_order_value_over_rating,avg_order_time,avg_voucher_per_order
0,0000366f3b9a7992bf8c76cfdf3221e2,0.0,1.0,0.0,0.0,0.0,100.0,100.0,1,8.0,5.0,1,17.73750,8.0,28.380000,0.0,0.0
1,0000b849f77a49e4a4ce2b2a4ca5be3f,0.0,1.0,0.0,0.0,0.0,100.0,100.0,1,1.0,4.0,1,27.19000,1.0,6.797500,0.0,0.0
2,0000f46a3911fa3c0805444483337064,0.0,1.0,0.0,0.0,0.0,100.0,0.0,1,8.0,3.0,1,10.77750,8.0,28.740000,0.0,0.0
3,0000f6ccb0745a6a4b88665a16c9f078,0.0,1.0,0.0,0.0,0.0,100.0,0.0,1,4.0,4.0,1,10.90500,4.0,10.905000,0.0,0.0
4,0004aac84e0df4da2b147fca70cf8255,0.0,1.0,0.0,0.0,0.0,100.0,0.0,1,6.0,5.0,1,32.81500,6.0,39.378000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,003c2067070f5b3d923235b1ea1cc17b,1.0,0.0,0.0,0.0,0.0,100.0,100.0,1,1.0,3.0,1,147.38000,1.0,49.126667,0.0,0.0
96,003c457932a554e4df13834237b1ed00,1.0,0.0,0.0,0.0,0.0,100.0,100.0,1,1.0,5.0,1,142.51000,1.0,28.502000,0.0,0.0
97,003d56767e53e08671de00da3fba8d40,0.0,1.0,0.0,0.0,0.0,100.0,100.0,1,8.0,5.0,1,22.32375,8.0,35.718000,0.0,0.0
98,003db7adfcdc49857b095a50191b6c9d,0.0,1.0,0.0,0.0,0.0,100.0,100.0,1,10.0,4.0,1,54.26600,10.0,135.665000,0.0,0.0
99,003e28cb6fab8a0901bff9229612375f,0.0,1.0,0.0,0.0,0.0,100.0,100.0,1,1.0,5.0,1,137.26000,1.0,27.452000,0.0,0.0

In [10]:
df_merged.to_csv('831_final_customer_level_dataset.csv', index=False)