In [9]:
import pandas as pd
import os as os
import pandasql as psql
from pandasql import sqldf
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import pymysql
import pandas as pd

#Set max display rows for EDA
pd.options.display.max_columns = 999
pd.options.display.max_rows = 999

path = r"C:\Users\anush\OneDrive\Queen's Uni\Marketing Analytics - MMA 831\Project\dataset\olist_order_payments_dataset.csv"
data = pd.read_csv(path)

In [10]:
data.head(100)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
5,298fcdf1f73eb413e4d26d01b25bc1cd,1,credit_card,2,96.12
6,771ee386b001f06208a7419e4fc1bbd7,1,credit_card,1,81.16
7,3d7239c394a212faae122962df514ac7,1,credit_card,3,51.84
8,1f78449c87a54faf9e96e88ba1491fa9,1,credit_card,6,341.09
9,0573b5e23cbd798006520e1d5b4c6714,1,boleto,1,51.95
10,d88e0d5fa41661ce03cf6cf336527646,1,credit_card,8,188.73
11,2480f727e869fdeb397244a21b721b67,1,credit_card,1,141.90
12,616105c9352a9668c38303ad44e056cd,1,credit_card,1,75.78
13,cf95215a722f3ebf29e6bbab87a29e61,1,credit_card,5,102.66
14,769214176682788a92801d8907fa1b40,1,credit_card,4,105.28
15,12e5cfe0e4716b59afb0e0f4a3bd6570,1,credit_card,10,157.45
16,61059985a6fc0ad64e95d9944caacdad,1,credit_card,1,132.04
17,79da3f5fe31ad1e454f06f95dc032ad5,1,credit_card,1,98.94
18,8ac09207f415d55acff302df7d6a895c,1,credit_card,4,244.15
19,b2349a3f20dfbeef62e7b31baa22f84b,1,credit_card,3,136.71
20,5a1f6d22f7dfb061ef29216b9af687a1,1,credit_card,4,47.69
21,4214cda550ece8ee66441f459dc33a8c,1,credit_card,2,170.57
22,adfbf6c2a620196f9a3ec747491c72b7,1,credit_card,4,67.50
23,4d680edbaa7d3d9bed69532957368a03,1,credit_card,10,353.09
24,8cd68144cdb62dc0d60848cf8616d2a4,1,boleto,1,330.66
25,5cfd514482e22bc992e7693f0e3e8df7,2,voucher,1,45.17
26,d0a945f85ba1074b60aac97ade7e240e,1,credit_card,2,541.00
27,c39414c195d0f94c9d9c35e7c6ed4f1a,1,credit_card,2,139.22
28,5d9c5817e278892b7498d90bfa28ade8,1,credit_card,2,290.16
29,b69b9260e79a0da00e15f48de1bd2524,1,boleto,1,283.34
30,f45074ae38f2e01d9b854ec8d40362ff,1,credit_card,1,13.78
31,81cedc4d2132eb6f512354166e51b187,1,credit_card,1,30.28
32,595f598849d89203c28d05d0fbf3f92e,1,credit_card,1,26.58
33,f9d0ec2fa088ac583e1ccd15b6686073,1,credit_card,1,89.68
34,e647bf617de735448a4ba54f8910393c,1,credit_card,1,65.09
35,b2bb080b6bc860118a246fd9b6fad6da,1,credit_card,1,173.84
36,23f10f509600c30cf2852f9dbdf28fc3,1,credit_card,1,103.49
37,f86f6472fa9f395d8d9a6751ca118afb,1,credit_card,1,64.03
38,1dcf0c8cd36ffaf57784fbdc90079310,1,credit_card,3,157.15
39,00d8d65b666158b633f96054d31af43b,1,boleto,1,130.88
40,cf30fe76d1505192acee1c6dccb15545,1,credit_card,2,47.72
41,d3e774a185c0b1b2286ffd6c70abe2e6,1,credit_card,8,117.74
42,32b1d8f3789a57f1f752e20ac7404b4c,1,boleto,1,56.60
43,c10d412026c4077b8e83acf0fea04eee,1,credit_card,1,266.16
44,56c3277583e16009c925fdf116df420f,1,boleto,1,31.38
45,0e0441786430b7cfcd0d91f822ea4c99,1,credit_card,1,121.49
46,6ffb3f1686bceae3466facf7e02ce3fb,1,credit_card,1,32.00
47,afef48d3c8a0b1b7c9b7f8f922fb5674,1,credit_card,5,153.41
48,c0db7d31ace61fc360a3eaa34dd3457c,1,credit_card,5,65.71
49,d574338f566ca28dd67820f48ec1f1d8,1,credit_card,4,278.22
50,1807cc736321f14baa58ef39cf6e5989,1,credit_card,4,91.66
51,e8977f709bbb0367f51b589e6325f991,1,credit_card,1,132.51
52,2e2c60b99754ae1e4d8b18846cfec9f2,1,credit_card,4,542.66
53,1ffb3c1929b16d9c1aec1958e11b3e9b,1,boleto,1,166.04
54,95442deb81a5d91c97c0df96b431634a,1,boleto,1,368.98
55,10af96a0689260134307879127ac1952,1,credit_card,2,113.20
56,85eef2d342b0de363c45c1bc324729c5,1,credit_card,3,99.43
57,aa964845f1de8125410aea8b73e9e1ec,1,credit_card,2,27.35
58,343348b1e29e9fa9e7b6ab1027f9177d,1,credit_card,4,43.77
59,ad4098a257676ea4d394fb3bbbf36ca3,1,credit_card,2,68.49
60,3e0c3cab458e8b3cc8d1d38ecb7e7775,1,credit_card,2,105.53
61,3ab4eea6776259ae8dfbabaeffece352,1,credit_card,8,387.80
62,10d9871bed9fb8d0887d3b9022edd1ff,1,boleto,1,84.14
63,c108072ab31ec90a754129c171577f5f,1,credit_card,4,210.82
64,fc662bafa52d2ef16078f6f6141009d6,1,boleto,1,90.05
65,4217849b1ff18a9270fe048eabc4dc45,1,credit_card,1,67.88
66,795c16acb4e3c30dfa5b6827727ef488,1,credit_card,2,37.58
67,55e2d723733c45033e71cb4d44690234,1,boleto,1,89.63
68,947e9c6bfd83a06953c420ef92d3da6e,1,voucher,1,69.46
69,60e43c5f5ba559d9dd19357ed72cb2f2,1,credit_card,2,78.30
70,e3e9e3295f4e1512167c232a0aaae8a5,1,voucher,1,50.80
71,460d57443ffdcaeba240360239747cf7,1,credit_card,1,34.00
72,4cb51127f19f7254b320efe1718477dd,1,boleto,1,77.10
73,110d9355d6338eab0a65a0cacdde5434,1,credit_card,5,566.40
74,42f5954cda381bd032934ee38c453711,1,credit_card,8,402.42
75,3689194c14ad4e2e7361ebd1df0e77b0,2,voucher,1,57.53
76,97c111c4f22dfa1089a9c0b5338dcc79,1,credit_card,3,44.01
77,4b2d035932915aa9c2a0d4d84cd6d3b0,1,credit_card,3,187.51
78,e1b4ee0e390fbac1dec439d72b45a115,1,credit_card,3,77.70
79,fee72a68ce935ebf2939fe72f27d3d9b,1,credit_card,1,48.68
80,4d3bfdf4c7d6578ea445d588371ae10e,1,credit_card,1,77.29
81,4c2e1a95586c815795a324d1599e7b5a,1,credit_card,8,117.71
82,c9f23db8a1cb725df9bdb3383bd72b38,1,credit_card,3,169.34
83,8e47a04b25d7a7075064e8e0bd2e0318,1,credit_card,1,37.61
84,723e462ce1ee50e024887c0b403130f3,1,credit_card,1,13.80
85,fa2ea4b6e84c1c0fc4f3a6d468c55183,1,debit_card,1,227.12
86,fb1a2a1296f822405a946cbdfc0d3ed6,1,credit_card,3,34.78
87,198298d54f269d8c5fe89e85a859af61,1,credit_card,10,342.56
88,b19ca559688b49e8cf7f88c1aa3f0009,1,credit_card,7,73.34
89,5be8d4719fe2e3669e2d07dddf3b6b0c,1,credit_card,4,117.85
90,4a02e985c7239d866a632f07ed20d9c0,1,credit_card,1,48.62
91,3e17eef8a8bd0131c7aed90d7508799e,1,credit_card,1,53.99
92,f8d323a2702fed37f0229965f7e9f8b3,1,credit_card,1,51.14
93,de4090fd9b7900d46323b0c7c36b7128,1,credit_card,2,121.45
94,17e5131fe1d4b1a8dc14d4a66914f9d7,1,credit_card,1,73.34
95,20f136d890c31a62486c809f91a5b098,1,credit_card,10,117.68
96,557cc2675910c4a6c9b54ad276f25097,1,credit_card,1,56.77
97,d60a89ab9bc1e68834465ae630c3343e,1,credit_card,2,115.59
98,3ba2d0012b1f34bc6ccbc31c4ba69f93,1,credit_card,6,60.07
99,d46f45b0d795bcf47a19d301710e63fe,1,credit_card,1,27.27

In [11]:
#Check for null values
nullcheck = data.isnull().sum()
nullcheck
#no null

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [12]:
index = data.index
number_of_rows = len(index)
number_of_rows

103886

In [16]:
#len(data['order_id'].unique().tolist())
#payment_sequential and order id is foreign key!
data.groupby(['order_id', 'payment_sequential']).ngroups

103886

In [14]:
data.dtypes
#data type seems fine. no data type transformation needed

order_id                 object
payment_sequential        int64
payment_type             object
payment_installments      int64
payment_value           float64
dtype: object

In [15]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

#export dataframe into MySQL table
tableName   = "olist_order_payments"          

sqlEngine       = create_engine('mysql+pymysql://admin:m0mDba4r6y@mma860-teamkipling.ci9pdpp0ny8u.us-east-2.rds.amazonaws.com:3308/MMA_831', pool_recycle = -1)
dbConnection    = sqlEngine.connect()

try:
    frame           = data.to_sql(tableName, dbConnection, if_exists='replace', index=False);
except ValueError as vx:
    print(vx)
except Exception as ex:   
    print(ex)
else:
    print("Table %s created successfully."%tableName);   
finally:
    dbConnection.close()

Table olist_order_payments created successfully.