In [1]:
#import necessary packages
from sqlalchemy import create_engine
import pandas as pd
from sqlalchemy import select
import pymysql
import sqlalchemy as db
import seaborn as sns

In [2]:
sqlEngine       = create_engine('mysql+pymysql://admin:m0mDba4r6y@mma860-teamkipling.ci9pdpp0ny8u.us-east-2.rds.amazonaws.com:3308/MMA_831', pool_recycle = -1)
dbConnection    = sqlEngine.connect()

In [54]:
#import the table (as specified above)
olist_customers_tbl = pd.read_sql_table("olist_customers", con=sqlEngine)
olist_customers_tbl.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,00012a2ce6f8dcda20d059ce98491703,248ffe10d632bebe4f7267f1f44844c9,6273,osasco,SP
1,000161a058600d5901f007fab4c27140,b0015e09bb4b6e47c52844fab5fb6638,35550,itapecerica,MG
2,0001fd6190edaaf884bcaf3d49edf079,94b11d37cd61cb2994a194d11f89682b,29830,nova venecia,ES
3,0002414f95344307404f0ace7a26f1d5,4893ad4ea28b2c5b3ddf4e82e79db9e6,39664,mendonca,MG
4,000379cdec625522490c315e70c7a9fb,0b83f73b19c2019e182fd552c048a22c,4841,sao paulo,SP

In [24]:
#import the table (as specified above)
SUM_ORDER_DATETIME_tbl = pd.read_sql_table("SUM_ORDER_DATETIME", con=sqlEngine)
SUM_ORDER_DATETIME_tbl.head()

                        customer_id  count_weekday  count_day  count_total
0  00012a2ce6f8dcda20d059ce98491703            1.0        1.0            1
1  000161a058600d5901f007fab4c27140            0.0        1.0            1
2  0001fd6190edaaf884bcaf3d49edf079            1.0        1.0            1
3  0002414f95344307404f0ace7a26f1d5            1.0        1.0            1
4  000379cdec625522490c315e70c7a9fb            1.0        1.0            1

In [25]:
#merge attempt 1
cust_order_count = pd.merge(olist_customers_tbl, SUM_ORDER_DATETIME_tbl, left_on='customer_id', right_on = 'customer_id', how='outer', indicator=True)
cust_order_count.head(100)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,count_weekday,count_day,count_total,_merge
0,00012a2ce6f8dcda20d059ce98491703,248ffe10d632bebe4f7267f1f44844c9,6273,osasco,SP,1.0,1.0,1,both
1,000161a058600d5901f007fab4c27140,b0015e09bb4b6e47c52844fab5fb6638,35550,itapecerica,MG,0.0,1.0,1,both
2,0001fd6190edaaf884bcaf3d49edf079,94b11d37cd61cb2994a194d11f89682b,29830,nova venecia,ES,1.0,1.0,1,both
3,0002414f95344307404f0ace7a26f1d5,4893ad4ea28b2c5b3ddf4e82e79db9e6,39664,mendonca,MG,1.0,1.0,1,both
4,000379cdec625522490c315e70c7a9fb,0b83f73b19c2019e182fd552c048a22c,4841,sao paulo,SP,1.0,1.0,1,both
...,...,...,...,...,...,...,...,...,...
95,003e45472805afa1ee701d83284fa22b,28e2041c0f17e12da80a0146305c9259,90670,porto alegre,RS,0.0,0.0,1,both
96,003eab528664e1bd677218ef4be086ac,6f8b40e5fdbd4a4b4dbaadc56f4bf681,21041,rio de janeiro,RJ,1.0,0.0,1,both
97,003ec17a1389fa302f3a0423dddd8650,1b6e96ed99cb8d135efe220d761bbd67,13190,monte mor,SP,0.0,1.0,1,both
98,003f7d92ac63c512bb6584219806f8df,0125fb08af5c9dd55731090aafc63ac8,4310,sao paulo,SP,1.0,1.0,1,both
99,0040a8417928d0d5abd5169cd7877181,96e147852028a3ce1d25c86f03032023,12288,cacapava,SP,1.0,1.0,1,both

In [26]:
#test.head(100)

In [27]:
#test = cust_order_count.head(100)

In [46]:
cust_order_count_sum = cust_order_count.groupby(['customer_unique_id']).agg({'count_weekday': "sum", 'count_day': "sum", 'count_total': "sum"}).reset_index()

In [47]:
cust_order_count_sum.head(100)

                  customer_unique_id  count_weekday  count_day  count_total
0   0000366f3b9a7992bf8c76cfdf3221e2            1.0        1.0            1
1   0000b849f77a49e4a4ce2b2a4ca5be3f            1.0        1.0            1
2   0000f46a3911fa3c0805444483337064            1.0        0.0            1
3   0000f6ccb0745a6a4b88665a16c9f078            1.0        0.0            1
4   0004aac84e0df4da2b147fca70cf8255            1.0        0.0            1
..                               ...            ...        ...          ...
95  003c2067070f5b3d923235b1ea1cc17b            1.0        1.0            1
96  003c457932a554e4df13834237b1ed00            1.0        1.0            1
97  003d56767e53e08671de00da3fba8d40            1.0        1.0            1
98  003db7adfcdc49857b095a50191b6c9d            1.0        1.0            1
99  003e28cb6fab8a0901bff9229612375f            1.0        1.0            1

[100 rows x 4 columns]

In [48]:
cust_order_count_sum['percentage_weekday'] = (cust_order_count_sum['count_weekday'] / cust_order_count_sum['count_total']) *100
cust_order_count_sum.head(100)

,customer_unique_id,count_weekday,count_day,count_total,percentage_weekday
0,0000366f3b9a7992bf8c76cfdf3221e2,1.0,1.0,1,100.0
1,0000b849f77a49e4a4ce2b2a4ca5be3f,1.0,1.0,1,100.0
2,0000f46a3911fa3c0805444483337064,1.0,0.0,1,100.0
3,0000f6ccb0745a6a4b88665a16c9f078,1.0,0.0,1,100.0
4,0004aac84e0df4da2b147fca70cf8255,1.0,0.0,1,100.0
...,...,...,...,...,...
95,003c2067070f5b3d923235b1ea1cc17b,1.0,1.0,1,100.0
96,003c457932a554e4df13834237b1ed00,1.0,1.0,1,100.0
97,003d56767e53e08671de00da3fba8d40,1.0,1.0,1,100.0
98,003db7adfcdc49857b095a50191b6c9d,1.0,1.0,1,100.0
99,003e28cb6fab8a0901bff9229612375f,1.0,1.0,1,100.0

In [49]:
cust_order_count_sum.sort_values('percentage_weekday' , ascending=True)

,customer_unique_id,count_weekday,count_day,count_total,percentage_weekday
75236,c82d387fee1e389d246bb3eaaa6ae024,0.0,0.0,1,0.0
42463,70e6afc64e31b717bcbd37fced7fb0de,0.0,1.0,1,0.0
20200,359bd4b13d3d5d19f668486babd62c53,0.0,0.0,1,0.0
42464,70e750c49f6d47641efaaf010f906c5d,0.0,1.0,1,0.0
63418,a8b4071c5bd64c07c369d13a5e72489b,0.0,1.0,1,0.0
...,...,...,...,...,...
36118,5fc1d21e3746af8bc54c8c256f8eeabb,1.0,1.0,1,100.0
36117,5fc17f3ffba812809219ca7f8b2e5be1,1.0,1.0,1,100.0
36116,5fc0974c5523db2fb37112424d790929,1.0,1.0,1,100.0
36137,5fcf9204fda5e433bac35bc0600da7d4,1.0,1.0,1,100.0
96095,ffffd2657e2aad2907e67c3e9daecbeb,1.0,0.0,1,100.0

In [52]:
#checking
print(cust_order_count_sum.loc[cust_order_count_sum['customer_unique_id'].isin(['c25d2fb6d22e04ce43c3652e3cacadad'])])

                     customer_unique_id  count_weekday  count_day  \
73082  c25d2fb6d22e04ce43c3652e3cacadad            3.0        3.0

       count_total  percentage_weekday  percentage_day
73082            3               100.0           100.0

In [51]:
cust_order_count_sum['percentage_day'] = (cust_order_count_sum['count_day'] / cust_order_count_sum['count_total']) *100
cust_order_count_sum.head(100)

,customer_unique_id,count_weekday,count_day,count_total,percentage_weekday,percentage_day
0,0000366f3b9a7992bf8c76cfdf3221e2,1.0,1.0,1,100.0,100.0
1,0000b849f77a49e4a4ce2b2a4ca5be3f,1.0,1.0,1,100.0,100.0
2,0000f46a3911fa3c0805444483337064,1.0,0.0,1,100.0,0.0
3,0000f6ccb0745a6a4b88665a16c9f078,1.0,0.0,1,100.0,0.0
4,0004aac84e0df4da2b147fca70cf8255,1.0,0.0,1,100.0,0.0
...,...,...,...,...,...,...
95,003c2067070f5b3d923235b1ea1cc17b,1.0,1.0,1,100.0,100.0
96,003c457932a554e4df13834237b1ed00,1.0,1.0,1,100.0,100.0
97,003d56767e53e08671de00da3fba8d40,1.0,1.0,1,100.0,100.0
98,003db7adfcdc49857b095a50191b6c9d,1.0,1.0,1,100.0,100.0
99,003e28cb6fab8a0901bff9229612375f,1.0,1.0,1,100.0,100.0

In [57]:
#now we move on
#import the table (as specified above)
olist_orders_tbl = pd.read_sql_table("olist_orders", con=sqlEngine)
olist_orders_tbl.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17

In [55]:
#import the table (as specified above)
count_payment_tbl = pd.read_sql_table("COUNT_PAYMENT", con=sqlEngine)
count_payment_tbl.head()

,order_id,count_boleto,count_credit_card,count_voucher,count_debit_card,count_not_defined
0,00010242fe8c5a6d1ba2dd792cb16214,0.0,1.0,0.0,0.0,0.0
1,00018f77f2f0320c557190d7a144bdd3,0.0,1.0,0.0,0.0,0.0
2,000229ec398224ef6ca0657da4fc703e,0.0,1.0,0.0,0.0,0.0
3,00024acbcdf0a6daa1e931b038114c75,0.0,1.0,0.0,0.0,0.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,0.0,1.0,0.0,0.0,0.0

In [60]:
#we just need the ids
order_cust_id = olist_orders_tbl[['order_id', 'customer_id']]
order_cust_id.head()

                           order_id                       customer_id
0  00010242fe8c5a6d1ba2dd792cb16214  3ce436f183e68e07877b285a838db11a
1  00018f77f2f0320c557190d7a144bdd3  f6dd3ec061db4e3987629fe6b26e5cce
2  000229ec398224ef6ca0657da4fc703e  6489ae5e4333f3693df5ad4372dab6d3
3  00024acbcdf0a6daa1e931b038114c75  d4eb9395c8c0431ee92fce09860c5a06
4  00042b26cf59d7ce69dfabb4e55b4fd9  58dbd0b2d70206bf40e62cd34e84d795

In [64]:
#merge with COUNT_PAYMENT
count_payment_merged = pd.merge(order_cust_id, count_payment_tbl, left_on='order_id', right_on = 'order_id', how='outer')
count_payment_merged.head(100)

,order_id,customer_id,count_boleto,count_credit_card,count_voucher,count_debit_card,count_not_defined
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,0.0,1.0,0.0,0.0,0.0
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,0.0,1.0,0.0,0.0,0.0
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,0.0,1.0,0.0,0.0,0.0
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,0.0,1.0,0.0,0.0,0.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
95,003a94f778ef8cfd50247c8c1b582257,da108bc410acffb1400cf9caea65a332,0.0,1.0,0.0,0.0,0.0
96,003cc6161d7a2593f2525cce0c330d32,7d9802889236ab8fc541bfb438978cd7,0.0,1.0,0.0,0.0,0.0
97,003d0634280ff3d1d3a54459349a6899,cca819156e50623e9d3762ebeee308dc,0.0,1.0,0.0,0.0,0.0
98,003d804eef0e1b856881cd18e0cc0d4c,1c1bfb2cd4aa789067295941c42120ff,0.0,1.0,0.0,0.0,0.0
99,003d9fc84ad902adf2265248b5ffe1a4,8c66482ec333eae596c93a9131981a9a,0.0,1.0,0.0,0.0,0.0

In [65]:
# we just need the customer_id and customer_unique_id from customer_tbl
cust_unique_id = olist_customers_tbl[['customer_id', 'customer_unique_id']]
cust_unique_id.head()

                        customer_id                customer_unique_id
0  00012a2ce6f8dcda20d059ce98491703  248ffe10d632bebe4f7267f1f44844c9
1  000161a058600d5901f007fab4c27140  b0015e09bb4b6e47c52844fab5fb6638
2  0001fd6190edaaf884bcaf3d49edf079  94b11d37cd61cb2994a194d11f89682b
3  0002414f95344307404f0ace7a26f1d5  4893ad4ea28b2c5b3ddf4e82e79db9e6
4  000379cdec625522490c315e70c7a9fb  0b83f73b19c2019e182fd552c048a22c

In [66]:
#now we merge on customer_id to COUNT_PAYMENT
cust_payment_merge = pd.merge(cust_unique_id, count_payment_merged, left_on='customer_id', right_on = 'customer_id', how='outer')
cust_payment_merge.head(100)

,customer_id,customer_unique_id,order_id,count_boleto,count_credit_card,count_voucher,count_debit_card,count_not_defined
0,00012a2ce6f8dcda20d059ce98491703,248ffe10d632bebe4f7267f1f44844c9,5f79b5b0931d63f1a42989eb65b9da6e,0.0,1.0,0.0,0.0,0.0
1,000161a058600d5901f007fab4c27140,b0015e09bb4b6e47c52844fab5fb6638,a44895d095d7e0702b6a162fa2dbeced,0.0,1.0,0.0,0.0,0.0
2,0001fd6190edaaf884bcaf3d49edf079,94b11d37cd61cb2994a194d11f89682b,316a104623542e4d75189bb372bc5f8d,0.0,1.0,0.0,0.0,0.0
3,0002414f95344307404f0ace7a26f1d5,4893ad4ea28b2c5b3ddf4e82e79db9e6,5825ce2e88d5346438686b0bba99e5ee,1.0,0.0,0.0,0.0,0.0
4,000379cdec625522490c315e70c7a9fb,0b83f73b19c2019e182fd552c048a22c,0ab7fb08086d4af9141453c91878ed7a,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
95,003e45472805afa1ee701d83284fa22b,28e2041c0f17e12da80a0146305c9259,604970dd9342c16efde4207c42f38f2d,1.0,0.0,0.0,0.0,0.0
96,003eab528664e1bd677218ef4be086ac,6f8b40e5fdbd4a4b4dbaadc56f4bf681,20b93906f0b1d44ad5e6c166ab370ba7,0.0,1.0,0.0,0.0,0.0
97,003ec17a1389fa302f3a0423dddd8650,1b6e96ed99cb8d135efe220d761bbd67,92c15142e314731cebdb5b1cd25962ac,0.0,1.0,0.0,0.0,0.0
98,003f7d92ac63c512bb6584219806f8df,0125fb08af5c9dd55731090aafc63ac8,87500eb4c129524a989447f3fb4d5c8d,0.0,1.0,0.0,0.0,0.0
99,0040a8417928d0d5abd5169cd7877181,96e147852028a3ce1d25c86f03032023,6ba0683fc45576a6050dfba5f9c41bb1,0.0,1.0,0.0,0.0,0.0

In [70]:
#now we do the groupby
cust_payment_count_sum = cust_payment_merge.groupby(['customer_unique_id']).agg({'count_boleto': "sum", 'count_credit_card': "sum", 
                                                                           'count_voucher': "sum",'count_debit_card': "sum", 
                                                                           'count_not_defined': "sum"}).reset_index()

In [71]:
cust_payment_count_sum.head(100)

,customer_unique_id,count_boleto,count_credit_card,count_voucher,count_debit_card,count_not_defined
0,0000366f3b9a7992bf8c76cfdf3221e2,0.0,1.0,0.0,0.0,0.0
1,0000b849f77a49e4a4ce2b2a4ca5be3f,0.0,1.0,0.0,0.0,0.0
2,0000f46a3911fa3c0805444483337064,0.0,1.0,0.0,0.0,0.0
3,0000f6ccb0745a6a4b88665a16c9f078,0.0,1.0,0.0,0.0,0.0
4,0004aac84e0df4da2b147fca70cf8255,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...
95,003c2067070f5b3d923235b1ea1cc17b,1.0,0.0,0.0,0.0,0.0
96,003c457932a554e4df13834237b1ed00,1.0,0.0,0.0,0.0,0.0
97,003d56767e53e08671de00da3fba8d40,0.0,1.0,0.0,0.0,0.0
98,003db7adfcdc49857b095a50191b6c9d,0.0,1.0,0.0,0.0,0.0
99,003e28cb6fab8a0901bff9229612375f,0.0,1.0,0.0,0.0,0.0

In [72]:
#checking
print(cust_payment_count_sum.loc[cust_payment_count_sum['customer_unique_id'].isin(['c25d2fb6d22e04ce43c3652e3cacadad'])])

                     customer_unique_id  count_boleto  count_credit_card  \
73082  c25d2fb6d22e04ce43c3652e3cacadad           0.0                3.0

       count_voucher  count_debit_card  count_not_defined
73082            2.0               0.0                0.0

In [74]:
#we only need certain columns from the cust_order_count_sum dataframe
final_count_order_daytime = cust_order_count_sum[['customer_unique_id', 'percentage_weekday', 'percentage_day']]

In [75]:
#now merge with cust_payment_count_sum
final_shangeri_features = pd.merge(cust_payment_count_sum, final_count_order_daytime, left_on='customer_unique_id', right_on = 'customer_unique_id', how='outer')
final_shangeri_features.head(100)

,customer_unique_id,count_boleto,count_credit_card,count_voucher,count_debit_card,count_not_defined,percentage_weekday,percentage_day
0,0000366f3b9a7992bf8c76cfdf3221e2,0.0,1.0,0.0,0.0,0.0,100.0,100.0
1,0000b849f77a49e4a4ce2b2a4ca5be3f,0.0,1.0,0.0,0.0,0.0,100.0,100.0
2,0000f46a3911fa3c0805444483337064,0.0,1.0,0.0,0.0,0.0,100.0,0.0
3,0000f6ccb0745a6a4b88665a16c9f078,0.0,1.0,0.0,0.0,0.0,100.0,0.0
4,0004aac84e0df4da2b147fca70cf8255,0.0,1.0,0.0,0.0,0.0,100.0,0.0
...,...,...,...,...,...,...,...,...
95,003c2067070f5b3d923235b1ea1cc17b,1.0,0.0,0.0,0.0,0.0,100.0,100.0
96,003c457932a554e4df13834237b1ed00,1.0,0.0,0.0,0.0,0.0,100.0,100.0
97,003d56767e53e08671de00da3fba8d40,0.0,1.0,0.0,0.0,0.0,100.0,100.0
98,003db7adfcdc49857b095a50191b6c9d,0.0,1.0,0.0,0.0,0.0,100.0,100.0
99,003e28cb6fab8a0901bff9229612375f,0.0,1.0,0.0,0.0,0.0,100.0,100.0

In [77]:
final_shangeri_features.to_csv('final_shangeri_features.csv', index=False)